<div class="card">
  <div class="card-header d-flex flex-items-center">
    <div class="d-inline-flex overflow-hidden flex-wrap align-items-center">
      <div class="me-3">
        <img class="opacity-40" width="32" height="32" src="static/icons/tool.svg" alt="">
      </div>
      <div class="d-inline-block align-middle">
        <span class="h3">Configuration</span>
      </div>
    </div>
    <div class="ms-auto">
      <input id="config-save" class="btn btn-success" type="submit" value="Save" form="config-form" />
    </div>
  </div>
  <div class="card-body p-0">
    <form id="config-form" action="/api/config" method="post" autocomplete="off">
      <textarea class="form-control" id="config-textarea" name="configText">{{ .config }}</textarea>
    </form>
  </div>
</div>