<div class="card">
  <div class="card-header d-flex flex-items-center">
    <div class="d-inline-flex overflow-hidden flex-wrap align-items-center">
      <div class="me-2">
        <img width="32" height="32" src="static/icons/wifi.svg" alt="">
      </div>
      <div class="d-inline-block align-middle">
        <span class="h3">Wireless</span>
      </div>
    </div>
    {{ if .wifi.connected }}
    <span class="ms-auto status status-green">Online</span>
    {{ else }}
    <span class="ms-auto status status-red">Offline</span>
    {{ end }}
  </div>
  {{ if .wifi.connected }}
  <div class="table-responsive card-table">
    <table class="table table-vcenter">
      <tbody>
        <tr>
          <th>SSID</th>
          <td>
            <samp>{{ .wifi.ssid }}</samp>
          </td>
        </tr>
        <tr>
          <th>IP</th>
          <td>
            <samp>{{ .wifi.ip }}</samp>
          </td>
        </tr>
        <tr>
          <th>Interface</th>
          <td>
            <samp>{{ .wifi.interface }}</samp>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ end }}
  <div class="card-body">
    <form id="wifi-form" action="/api/network/wifi" method="post" autocomplete="off">
      <div class="mb-3">
        <label class="form-label" for="ssid">SSID</label>
        <input class="form-control input-block text-mono" type="text" placeholder="SSID" id="ssid" name="ssid" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control input-block" type="password" placeholder="Password" id="password" name="password" />
      </div>

      <input class="btn btn-success" type="submit" value="Connect" />
    </form>
  </div>
</div>