<div class="Box">
    <div class="Box-header d-flex flex-items-center">
        <div class="d-inline overflow-hidden flex-auto">
            <div class="d-inline-block v-align-middle mr-2">
                <span class="material-icons md-36">lan</span>
            </div>
            <div class="d-inline-block v-align-middle">
                <h3>Ethernet</h3>
            </div>
        </div>
        {{ if .eth.connected }}
        <span class="State State--open mr-2">Online</span>
        {{ else }}
        <span class="State State--closed mr-2">Offline</span>
        {{ end }}
    </div>
    {{ if .eth.connected }}
    <div class="Box-row">
        <div>
            <p>
                <span class="h4">IP</span>
                <span class="text-mono">{{ .eth.ip }}</span>
            </p>
        </div>
        <div>
            <p>
                <span class="h4">Interface</span>
                <span class="text-mono">{{ .eth.interface }}</span>
            </p>
        </div>
    </div>
    {{ end }}
</div>