<div class="card">
  <div class="card-header d-flex flex-items-center">
    <div class="d-inline-flex overflow-hidden flex-wrap align-items-center align-content-center justify-content-center">
      <div class="me-2">
        <img width="32" height="32" src="static/icons/network.svg" alt="">
      </div>
      <div class="d-inline-block align-middle">
        <span class="h3">Ethernet</span>
      </div>
    </div>
    {{ if .eth.connected }}
    <span class="ms-auto status status-green">Online</span>
    {{ else }}
    <span class="ms-auto status status-red">Offline</span>
    {{ end }}
  </div>
  {{ if .eth.connected }}
  <div class="table-responsive card-table">
    <table class="table table-vcenter">
      <tbody>
        <tr>
          <th>IP</th>
          <td>
            <samp>{{ .eth.ip }}</samp>
          </td>
        </tr>
        <tr>
          <th>Interface</th>
          <td>
            <samp>{{ .eth.interface }}</samp>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ else }}
  <div class="empty">
    <p class="empty-subtitle text-muted">
      No connection
    </p>
  </div>
  {{ end }}
</div>